#toolbar {
    width: 95%;
    height: 20px;
    margin-top: 5px;
    background-color: rgb(146, 114, 114);
}

html, body {
    margin:0px;
    padding:0px;
    width: 100%;
    height:100%;
    overflow-x: hidden
}

#menuIcon, #h6, #signInButton, #signUpButton {
    margin-top:15px;
}

#h6 {
    font-family: 'Cinzel', serif;
    font-size: 1.5em;    
}